body{
    background-color: #393E46;
}

.home-main-content{
    height: 440px;
    width: 100%;
    background-color: #393E46;
}

.home-content{
    container: flex;
    display: flexbox;
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-top: 10%;
    margin-bottom: 5%;
}

  
  
.home-content p{
    text-align: justify;
    font-weight: lighter;
}

.home-buttons {
    display: flex;
    align-items: center;  
    gap: 20px;  
    margin-left: 5%;
}

.home-buttons button{
    display: flex;
    background-color: #D65A31;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    
}

.home-buttons button:hover{
    background-color: #f54308;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    
}
  
.icon-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;  
    height: 40px; 
    background-color: #D65A31;  
    border-radius: 50%;  
    color: #fff;  
    font-weight: bold; 
}

.icon-circle:hover {
    background-color: #f54308;  
}

.profile-photo-circle {
    margin-top: 2%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    background-color: #393E46; /* Fallback color in case the image doesn't load */
    background-image: url('./../assets/profile.jpg'); /* Add your image path here */
    background-size: cover; /* Ensures the image covers the entire circle */
    background-position: center; /* Centers the image */
    border-radius: 50%; /* Makes it a circle */
    color: #fff; /* Text color if needed */
    font-weight: bold; /* Bold text if there's any */
    border: 10px solid #D65A31; /* Border with custom color and thickness */
}

.experience-meter{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: left; 
    text-align: center; 
    background-color: #393E46;
    
}


.experience-meter h1 {
    font-size: 3rem; 
    color: #fff;
    font-weight: bolder;
    margin-left: 12%
}

.experience-meter p {
    margin: 0;
    line-height: 1;
    color: #fff;
    font-weight: lighter;
    font-size: 1rem;
    display: inline-block;
    text-align: left;
}
