.skills-section {
    padding: 4vh;
    background-color: #393E46; /* Dark background */
    color: #FFFFFF; /* White text color */
  }
  
 
  .skills-title{
    color: #fff;
    font-weight: bold;
    position: relative;
    display: inline-block; /* Ensures the line matches the text width */
    font-size: 3rem;
}

.skills-title::after {
    content: '';
    display: block;
    width: 60%; /* Line width matches the text width */
    height: 5px; /* Line thickness */
    background-color: #D65A31; /* Orange line color */
    margin-top: 10px; /* Space between text and the line */
}
.skills-title::before {
    content: '';
    display: block;
    width: 40%; /* White line smaller than the orange line */
    height: 5px; /* White line thickness */
    background-color: #fff; /* White line color */
    position: absolute;
    bottom: -8px; /* Position the white line directly below the orange line */
    left: 20%; /* Center align the white line */
    transform: translateX(-50%); /* Center the white line under the orange one */
}
  .skills-highlight {
    color: #D65A31; /* Orange color */
  }
 
  .skills-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .skills-column {
    width: 45%; /* Two columns */
  }
  
 
  
  .circle-icon {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
  }
  .skills-column {
  width: 45%; /* Two columns */
}
  .icon {
    width: 1.5rem;
    height: 1.5rem;
  }
  
  .skill-item {
  display: flex;
  flex-direction: column; /* This ensures the content stacks vertically */
  margin-bottom: 20px;

}

.skill-line {
  width: 80%; /* Adjust this to make the line smaller or larger */
  height:1vh;
  background-color: #fff; /* Change to your preferred color */
  margin-top: 5px; /* Adjust this for spacing below the text */
}
.skill-name-line-container {
  display: flex;
  flex-direction: column; /* Stack the name and line vertically */
  margin-left: 15px; /* Adjust spacing between icon and name */
}